
#app {
    text-align: center;
}

.my_canvas {
    display: inline-block;
}

.control_container {
    display: inline-block;
    margin: 10px;
}

.control_container input {
    width: 40px;
}

.play_controls {
    margin: 10px 0 20px 0;
}